{% extends 'company-base.html' %}

{% block content %}
<h1>Профиль</h1>
<div class="profile">
    <div class="narrow left-section">
        <ul class="menu">
            <a href="/user-account" class="my-link" title="Личный кабинет">
                <li class="menu-item">Учетная запись</li>
            </a>
            <a href="/user-datasets" class="my-link" title="Мои датасеты">
                <li class="menu-item">Мои датасеты</li>
            </a>
            <a href="user-cards-accounts" class="my-link" title="Банковские карты и счета">
                <li class="menu-item">Банковские карты и счета</li>
            </a>
            <a href="/user-security" class="my-link" title="Безопасность">
                <li class="menu-item">Безопасность</li>
            </a>
            <a href="/user-subscriptions" class="my-link" title="Мои подписки">
                <li class="menu-item">Мои подписки</li>
            </a>
        </ul>
    </div>
    {% block profile %} {% endblock %}
</div>
{% endblock %}