fastapi[all]==0.110.0
numpy==1.26.4
segment-anything-fast
setuptools==69.2.0
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
torch
alembic
asyncpg
sqlalchemy[asyncio]
pyjwt[crypto]
bcrypt
aiobotocore